
body {
    color: #fff;
}

.main-button {
    background-color: #00549E ;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: regular;
    border: none;
}

h1{
    color: black;
}
h3{
    color: black;
}

label {
    color: black;
}

form p, form label, form input, form textarea {
    color: black;
}

a{
    text-decoration: none;
    color:  #00549E;
}
